#Archivos binarios de Java
*.class

#Configuraciones locales de NetBeans
sistema/HospitalVeterinarioDVT/nbproject/ant-deploy.xml
sistema/HospitalVeterinarioDVT/nbproject/private/private.xml
sistema/HospitalVeterinarioDVT/nbproject/project.properties

#OS X
.DS_Store
